
* {
   font-family: "Aleo", serif;
}

.wrapper {
   display: grid ;
 }

body {
   margin: 0;
}

.site-header {
   height: 50px;
}

.site-header h1 {
   margin: 0;
   font-size: 20px;
   padding: 10px 15px;
}

.site-main {
   background-color: white;
}

.site-footer {
   background-color: rgb(221, 220, 220);
}
