
* {
   font-family: "Aleo", serif;
}

.wrapper {
   display: grid ;
 }

body {
   margin: 0;
}

.site-header {
   height: 50px;
}

.site-header h1 {
   margin: 0;
   font-size: 20px;
   padding: 10px 15px;
}

.site-main {
   background-color: white;
}

img[src="/LandingPageImages/hero-mobile.png"] { 
   width: 100%;
   max-width: 100%;
   height: auto;
  }

.site-footer {
   background-color: rgb(221, 220, 220);
}



 /* -SPLIT Wrapper into 4 */
 /* .wrapper {
    display: grid ;
  
    /* check if inline or not */
 /* }
/* g */
/* -Then split HERO into 2 column grid */
/* -split how it works into: 1 title, 3 Cards/ 3 column grid
    -Split the individual cards into 2 columns image and text  git