
* {
   font-family: "Aleo", serif;
}

.wrapper {
   display: grid ;
 }

body {
   margin: 0;
}

.site-header {
   height: 50px;
}

.site-header h1 {
   margin: 0;
   font-size: 20px;
   padding: 10px 15px;
}

.site-main {
   background-color: white;
}

img[src="/LandingPageImages/hero-mobile.png"] { 
   width: 100%;
   max-width: 100%;
   height: auto;
  }

.perfect-fireplace {
   background-color: #f1911b;
   margin: 5px;
   padding: 0 2px;
}

.perfect-fireplace h1 {
   font-size: 2rem;
}

.perfect-fireplace h2 {
   font-size: 1.2rem;
}

span.contact-no {
   color: #FFFFFF
}

.how-it-works h1{
   text-align: center;
   font-weight: 500;
   font-size: 1.5rem;
}

img[src="/LandingPageImages/how-it-works-1.png"],
img[src="/LandingPageImages/how-it-works-2.png"],
img[src="/LandingPageImages/how-it-works-3.png"] {
   display: block;
   margin-left: auto;
   margin-right: auto;
} 



.site-footer {
   background-color: rgb(221, 220, 220);
}



 /* -SPLIT Wrapper into 4 */
 /* .wrapper {
    display: grid ;
  
    /* check if inline or not */
 /* }
/* g */
/* -Then split HERO into 2 column grid */
/* -split how it works into: 1 title, 3 Cards/ 3 column grid
    -Split the individual cards into 2 columns image and text  git